<h1>Language View</h1>
  <ul>
    <li ng-repeat="language in data.currentLanguages">{{language}}</li>
  </ul>
  <form ng-submit='addLanguage()' class='fx-fade-normal'>
    <h2>Compare another language:</h2>
    <select ng-model="data.nextLanguage" ng-options="language for language in data.allLanguages" placeholder='Enter language'>
      <option value="">Choose a Language</option>
    </select>
    <input type='submit' value='Search' />
  </form>
  <h1>Repo Activity over Time</h1>
  <nvd3-line-chart
          data="commits"
          id="commits"
          width="600"
          height="400"
          showXAxis="true"
          showYAxis="true"
          tooltips="true"
          interactive="true"
          showlegend = "true"
          margin="{left:150,top:50,bottom:0,right:50}"
          xAxisTickFormat="xAxisTickFormat()"
          >
       <svg></svg>
  </nvd3-line-chart>

  <h1>Repos Created over Time</h1>
  <nvd3-line-chart
          data="creates"
          id="creates"
          width="600"
          height="400"
          showXAxis="true"
          showYAxis="true"
          tooltips="true"
          interactive="true"
          showlegend = "true"
          margin="{left:150,top:50,bottom:0,right:50}"
          xAxisTickFormat="xAxisTickFormat()"
          >
       <svg></svg>
  </nvd3-line-chart>

  <h1>Repos Made Public over Time</h1>
  <nvd3-line-chart
          data="public_repos"
          id="public_repos"
          width="600"
          height="400"
          showXAxis="true"
          showYAxis="true"
          tooltips="true"
          interactive="true"
          showlegend = "true"
          margin="{left:150,top:50,bottom:0,right:50}"
          xAxisTickFormat="xAxisTickFormat()"
          >
      <svg></svg>
  </nvd3-line-chart>

  <h1>Pushes over Time</h1>
  <nvd3-line-chart
          data="pushes"
          id="pushes"
          width="600"
          height="400"
          showXAxis="true"
          showYAxis="true"
          tooltips="true"
          interactive="true"
          showlegend = "true"
          margin="{left:150,top:50,bottom:0,right:50}"
          xAxisTickFormat="xAxisTickFormat()"
          >
      <svg></svg>
  </nvd3-line-chart>