.container {
	max-width: 960px;
	margin: 0 auto;
}

.row {
	margin: 0 0 60px 0;
	border-top: 1px solid #CCC;
	padding-top: 60px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-after {
	content: '';
	display: table;
	clear: both;
}

.one-half, .one-third, .one-fourth, .two-thirds, .three-fourths {
	// padding: 0 1%;
}

.one-whole {
	width: 100%;
}

.one-half {
	width: 50%;
}

.one-third {
	width: 33.33%;
}

.two-thirds {
	width: 66.67%;
}

.one-fourth {
	width: 25%;
}

.three-fourths {
	width: 75%;
}