@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input {
  outline: none;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-after {
  content: '';
  display: table;
  clear: both; }

.one-half {
  width: 50%; }

.one-third {
  width: 33.33%; }

.two-thirds {
  width: 66.67%; }

.one-fourth {
  width: 25%; }

.three-fourths {
  width: 75%; }

.search button, .search input[type=submit] {
  background-color: #E5E5E5;
  padding: 7px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.18), inset 0 2px 2px rgba(255, 255, 255, 0.7);
  border-radius: 5px; }
  .search button:hover, .search input[type=submit]:hover {
    background: #FAFAFA;
    cursor: pointer; }
.search button {
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-width: 125px; }
  .search button.button-left {
    border-radius: 5px 0 0 5px; }
  .search button.button-right {
    border-radius: 0 5px 5px 0; }
  .search button.selected {
    background-color: #6DB4D0;
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.19); }
.search input[type=text] {
  background: #171717;
  color: #FFF;
  padding: 8px 7px;
  font-size: 13px;
  border: 1px solid #505050;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 228, 228, 0.26);
  border-radius: 4px;
  float: left; }
  .search input[type=text]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

body {
  font-family: 'Open Sans';
  font-weight: 400;
  background: #FFFFFF;
  color: #C5C5C5; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; }

.page-wrap:after {
  content: "";
  display: block; }

a {
  color: #C5C5C5; }
  a:hover {
    color: #FFF; }

nav {
  width: 100%;
  height: 70px;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #2E2E2E; }
  nav a {
    text-decoration: none; }

footer {
  width: 100%;
  padding: 20px 0;
  font-size: 12px;
  background: #DDDDDD;
  color: #646464; }
  footer a {
    color: #646464; }
    footer a:hover {
      color: #8B8B8B; }

footer, .page-wrap:after {
  height: 60px; }

.usercontainer {
  float: left;
}

/*# sourceMappingURL=main.css.map */
