<div class="user">
  <header class="one-whole clear-after">
    <h1 class="float-left">Github Statistics for {{username}}</h1>
    <div class="float-right">
      <h3 class="float-left">Compare another User: </h3>
      <form ng-submit='addUser();' ng-click="newDiv()" class='fx-fade-normal float-right'>
        <input type ='text' ng-model='userdata.nextUsername' placeholder = 'Enter username'>
        <input type='submit' value='Search' >
      </form>
    </div>
  </header>

  <h2>GitHub User Commits Over Time</h2>
  <nvd3-multi-bar-chart
             data="commitsbyDateData"
             id="commitsbyDateDataId"
             height="400"
             showXAxis="true"
             showYAxis="true"
             showLegend="true"
             rotateLabels="-45">
        <svg></svg>
    </nvd3-multi-bar-chart>

     <h2><b>GitHub User {{username}} Commits By Langauges</b></h2>

  <nvd3-pie-chart
    data="commitsperLangugageData"
    id="exampleId1"
    x="xFunction()"
    y="yFunction()"
    width="500"
    height="500"
    showLabels="true"
    pieLabelsOutside="true"
    showValues="true"
     >
    <svg></svg>
  </nvd3-pie-chart>


 <h2><b>{{items.title}}</b></h2>
<nvd3-pie-chart
      data="commitsperLangugageDataUser2"
      id="piechart2"
      x="xFunction()"
      y="yFunction()"
      width="500"
      height="500"
      showLabels="true"
      pieLabelsOutside="true"
      labelType="key"
       >
      <svg ></svg>
    </nvd3-pie-chart>

</div>
